<footer>
	
		<div class="text-center">
		    <p class="txt-railway">
		    	<strong>
		    		<i class="fas fa-copyright"></i> 
		    		{{ anio }} Engelber Amaya 
		    			
		    	</strong>
		    </p>
    
		     <div>
		     	<a href="https://es-la.facebook.com/engelber.amayanoguera" target="_blank">
		     		<i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
		     	</a>

			    <a href="https://www.linkedin.com/in/engelber-amaya-noguera-4a6a84164" target="_blank">
			    	<i id="social-tw" class="fa fa-linkedin-square fa-3x social"></i>
			    </a>

			    <a href="https://github.com/EngelberAmaya" target="_blank">
			       	<i id="social-em" class="fa fa-github fa-3x social"></i>
			    </a>

			     <a data-toggle="tooltip" data-placement="right" title="engelberamaya@gmail.com" href="https://www.google.com" target="_blank"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>

		     </div>       
		   
		</div>
		
	
</footer>
